################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FreeCAD
/Artefacts
/PCB/Bathroom/Bathroom-backups
